[program:exampleService]
autostart=true
command=/usr/bin/java -jar -DLOG_DIR=/var/log/inin -javaagent:/opt/newrelicjava/newrelic.jar -Dnewrelic.environment={{ allTags.tags.environment | default('dev') }} -Dnewrelic.config.error_collector.ignore_status_codes='403,404' -Dcloudfront.logparser.bufferSize=3072 -XX:+UseConcMarkSweepGC -Xms512m -Xmx1024m -Xss256k -XX:MaxPermSize=256m -XX:ReservedCodeCacheSize=128m -XX:+CMSClassUnloadingEnabled -XX:+CMSPermGenSweepingEnabled /home/exampleService/exampleService.jar
user=exampleService
stdout_logfile=/var/log/supervisor/exampleService.log
stderr_logfile=/var/log/supervisor/exampleService.err
numprocs=1
process_name=%(program_name)s-%(process_num)s
startsecs=60
environment=ENVIRONMENT={{ allTags.tags.environment }},NEW_RELIC_HOME=/opt/newrelicnode,AWS_REGION={{ansible_ec2_placement_region}}
stopsignal=TERM